$background-color: #141414;
$user-card-bg-color: #1f1f1f;
$darken: #e5e5e5;
$user-name-color: grey;
$logo-color: #e50914;
$nav-item-default-color: #e5e5e5;
$nav-item-hover-color: #aeaeae;
$dark-transparent-bg: rgba(10, 10, 10, 0.85);
$light-transparent-bg: rgba(51, 51, 51, 0.6);
$match-color: #46d369;
