@import "variables";
@import "mixins";

html {
  height: 100%;
}

body.main {
  @include reset;
  background-color: $background-color;
  font-family: Helvetica, Arial, sans-serif;
}

.content {
  width: 100%;
}

.nav-container {
  @include flex($align-items: center);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  @include font($size: 14px, $color: $nav-item-default-color);
  background-color: transparent;
  height: 70px;
  z-index: 20;
  transition: 0.5s linear;
  span {
    margin: 0 10px;
    cursor: pointer;
    transition: 0.2s linear;
    &:hover {
      color: $nav-item-hover-color;
    }
    &:first-child {
      text-transform: uppercase;
      @include font($size: 24px, $color: $logo-color, $weight: bold);
      margin: 0 30px;
    }
    &:nth-child(2) {
      @include font($color: white, $weight: bold);
    }
    &:last-child {
      margin-right: auto;
    }
  }
}

.options {
  margin: 0 30px 0 auto;

  @include flex($align-items: center);
  font-size: 16px;
  & * {
    margin: 0 10px;
    cursor: pointer;
  }
}

.profile-options {
  @include flex($align-items: center);
  position: relative;
  &:hover .profile-dropdown {
    visibility: visible;
  }
}

.profile-dropdown {
  @include absolute($top: 130%, $left: -40%);
  @include flex($direction: column);
  visibility: hidden;
  width: 170px;
  background-color: $dark-transparent-bg;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  z-index: 1;
  margin-left: -60px;
  border: 0.1px solid $user-name-color;
  &::after {
    content: "";
    @include absolute($right: 21%, $bottom: 100%);
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent white transparent;
  }
  .nav-user-container {
    @include flex($align-items: center);
    @include image(70%, 100%);
    @include widthHeight(50px, 35px);
    margin: 5px 0;
  }
  .profiles-manage {
    box-sizing: border-box;
    padding: 15px 10px;
    text-align: left;
    width: 100%;
    justify-self: flex-start;
    margin: auto 0;
    border-bottom: 0.5px solid $user-name-color;
  }
  p {
    margin: 5px 10px;
    text-align: left;
    &:hover {
      text-decoration: underline;
    }
  }
  .account {
    margin-top: 15px;
  }
}

.nav-image-container {
  @include widthHeight(35px, 35px);
  @include image(100%, 100%);
}

.banner-container {
  @include widthHeight(100%, 900px);
  position: relative;
  .banner-show-details {
    @include absolute($top: 250px, $left: 70px);
    @include image(600px, 240px);
    .banner-details {
      @include bannerDetails(550px);
    }
  }

  .age-res {
    @include absolute($right: 0px, $bottom: 300px);
    @include font($color: $nav-item-default-color, $size: 20px);
    border-left: 3px solid $nav-item-default-color;
    padding: 10px 60px 10px 15px;
    background: $light-transparent-bg;
  }
  .volume {
    @include icon();
  }
}

.popular-container {
  @include absolute($top: 710px);
  width: 100%;
  @include h2();
  .popular-list {
    @include flex();
    overflow: hidden;
    padding-top: 68px;
    .popular-list-item {
      @include listItem();
    }
    @include arrow(137px);
  }
}

.trending-area {
  width: 100%;
  @include h2($margin-top: 60px, $margin-right: 60px);
  .trending-list {
    @include flex();
    overflow: hidden;
    padding-top: 68px;
    padding-bottom: 68px;
    .trending-list-item {
      @include listItem($margin-bottom: -120px);
    }
    @include arrow(137px);
  }
}

.featured-show-area-wrapper {
  @include widthHeight(100%, 600px);
  position: relative;
  background-size: cover;
  background: linear-gradient(
      0deg,
      #141414 0%,
      rgba(10, 10, 10, 0.75) 50%,
      rgba(20, 20, 20, 1) 100%
    ),
    url("assets/images/featured-bg.webp");
}

.featured-show-area {
  @include flex();
  @include widthHeight(92%, 100%);
  margin: 0 auto;
}

.featured-video-container {
  @include widthHeight(58%, 100%);
  z-index: 1;
  video {
    @include widthHeight(100%, 100%);
  }
}
.featured-show-details-container {
  width: 32%;
  position: relative;
}

.featured-show-details {
  @include absolute($top: 120px, $left: 60px);
  @include image(400px, 150px);
}

.watch-para {
  @include font($size: 18px, $color: white, $weight: bold);
}
.banner-buttons-area {
  @include font($size: 18px, $color: white, $weight: bold);
  span {
    padding: 15px 40px;
    margin-left: 8px;
    display: inline-block;
    background-color: rgba(51, 51, 51, 0.4);
    border-radius: 3px;
    &:hover {
      cursor: pointer;
      color: black;
      background-color: white;
      transform: scale(1.05);
    }
    &:first-child:hover {
      transition: transform 0.1s linear 0.2s;
    }
    i {
      margin-right: 10px;
    }
  }
}

.featured-details {
  @include bannerDetails(400px);
}

.originals-area {
  width: 100%;
  margin-top: 20px;
  @include h2($margin-top: 0, $margin-right: 0);

  .originals-list {
    @include flex();
    overflow: hidden;
    padding-top: 68px;
    padding-bottom: 68px;
    .originals-list-item {
      @include listItem(
        $flex: 4,
        $height-before: 630px,
        $height-after: 700px,
        $translateY: -40px,
        $margin-bottom: -120px
      );
      .hover-content {
        bottom: 20px;
      }
    }
    @include arrow(630px);
  }
}

footer {
  @include flex($align-items: center, $direction: column);
  padding-top: 80px;
  color: $user-name-color;
  .socials {
    align-self: flex-start;
    margin-left: 275px;
    margin-bottom: 5px;
    & * {
      font-size: 30px;
      margin: 0 10px;
    }
  }
  .cols {
    @include flex();
    & * {
      font-size: 13.5px;
      margin: 8px 40px;
      @include flex($direction: column);
    }

    .service-code {
      margin-top: 20px;
      display: inline-block;
      border: 1px solid $user-name-color;
      text-align: center;
      padding: 6px;
      &:hover {
        cursor: pointer;
        color: white;
        border-color: white;
      }
    }
  }
  .years {
    @include font($size: 11px, $color: grey);
    align-self: flex-start;
    margin-left: 285px;
    margin-bottom: 20px;
  }
}

.hover-content {
  @include flex($justify-content: flex-end, $direction: column);
  @include absolute($top: 120px, $left: 10px);
  color: white;
  width: 100%;
  transition: 0.01s linear 0s;
  opacity: 0;
  & * {
    margin: 2px 0;
  }
  .play {
    @include flex($justify-content: center, $align-items: center);
    @include font($size: 19px, $color: red);
    @include widthHeight(40px,40px);
    border-radius: 50%;
    border: 1px solid $nav-item-default-color;
    background-color: $light-transparent-bg;
    transition: linear 0.2s;

    &:hover {
      @include widthHeight(43px,43px);
      font-size: 21px;
    }
  }
  .circle {
    @include flex($justify-content: center, $align-items: center);
    @include font($size: 17px, $color: white);
    @include widthHeight(35px,35px);
    border-radius: 50%;
    border: 1px solid $user-name-color;
    background-color: $light-transparent-bg;
    transition: linear 0.2s;
    &:hover {
      @include widthHeight(38px,38px);
      @include font($size: 18px, $color: white);
    }
  }
  .show-name {
    @include font($size: 20px, $weight: bold);
  }
  .match {
    color: $match-color;
  }
  .age-restriction {
    display: inline-block;
    border: 1px solid white;
    text-align: center;
    padding: 3px 5px;
  }
  .fa-circle {
    font-size: 7px;
  }
  .fa-chevron-down {
    align-self: center;
    transform: scale(3.5, 1.5);
  }
  .show-icons {
    @include absolute($top: -50px, $right: 30px);
  }
}
