html {
  height: 100%;
}

body.main {
  padding: 0;
  margin: 0;
  background-color: #141414;
  font-family: Helvetica, Arial, sans-serif;
}

.content {
  width: 100%;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 14px;
  color: #e5e5e5;
  background-color: transparent;
  height: 70px;
  z-index: 20;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.nav-container span {
  margin: 0 10px;
  cursor: pointer;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.nav-container span:hover {
  color: #aeaeae;
}

.nav-container span:first-child {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  color: #e50914;
  margin: 0 30px;
}

.nav-container span:nth-child(2) {
  font-weight: bold;
  color: white;
}

.nav-container span:last-child {
  margin-right: auto;
}

.options {
  margin: 0 30px 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}

.options * {
  margin: 0 10px;
  cursor: pointer;
}

.profile-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.profile-options:hover .profile-dropdown {
  visibility: visible;
}

.profile-dropdown {
  position: absolute;
  top: 130%;
  left: -40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  visibility: hidden;
  width: 170px;
  background-color: rgba(10, 10, 10, 0.85);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  z-index: 1;
  margin-left: -60px;
  border: 0.1px solid grey;
}

.profile-dropdown::after {
  content: "";
  position: absolute;
  right: 21%;
  bottom: 100%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

.profile-dropdown .nav-user-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 35px;
  margin: 5px 0;
}

.profile-dropdown .nav-user-container img {
  width: 70%;
  height: 100%;
}

.profile-dropdown .profiles-manage {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 10px;
  text-align: left;
  width: 100%;
  justify-self: flex-start;
  margin: auto 0;
  border-bottom: 0.5px solid grey;
}

.profile-dropdown p {
  margin: 5px 10px;
  text-align: left;
}

.profile-dropdown p:hover {
  text-decoration: underline;
}

.profile-dropdown .account {
  margin-top: 15px;
}

.nav-image-container {
  width: 35px;
  height: 35px;
}

.nav-image-container img {
  width: 100%;
  height: 100%;
}

.banner-container {
  width: 100%;
  height: 900px;
  position: relative;
}

.banner-container .banner-show-details {
  position: absolute;
  top: 250px;
  left: 70px;
}

.banner-container .banner-show-details img {
  width: 600px;
  height: 240px;
}

.banner-container .banner-show-details .banner-details {
  width: 550px;
  color: white;
  line-height: 30px;
  font-size: 20px;
}

.banner-container .age-res {
  position: absolute;
  right: 0px;
  bottom: 300px;
  font-size: 20px;
  color: #e5e5e5;
  border-left: 3px solid #e5e5e5;
  padding: 10px 60px 10px 15px;
  background: rgba(51, 51, 51, 0.6);
}

.banner-container .volume {
  position: absolute;
  right: 130px;
  bottom: 300px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  border: 1px solid #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: linear 0.2s;
  transition: linear 0.2s;
  font-size: 19px;
}

.banner-container .volume:hover {
  width: 43px;
  height: 43px;
  bottom: 297px;
  right: 128px;
  font-size: 21px;
}

.popular-container {
  position: absolute;
  top: 710px;
  width: 100%;
}

.popular-container h2 {
  color: white;
  margin-bottom: -60px;
  margin-left: 60px;
}

.popular-container .popular-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding-top: 68px;
}

.popular-container .popular-list .popular-list-item {
  width: 262px;
  height: 137px;
  margin: 0 2px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  z-index: 1;
}

.popular-container .popular-list .popular-list-item img {
  width: 100%;
  height: 100%;
}

.popular-container .popular-list .popular-list-item:hover {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  height: 274px;
  -webkit-transform: translateY(-68px);
          transform: translateY(-68px);
  z-index: 10;
}

.popular-container .popular-list .popular-list-item:hover .hover-content {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
  opacity: 1;
}

.popular-container .popular-list .arrow {
  width: 50px;
  height: 137px;
  background: rgba(51, 51, 51, 0.6);
  color: white;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popular-container .popular-list .arrow i {
  display: none;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  -webkit-transform: scale(1.2, 1.8);
          transform: scale(1.2, 1.8);
}

.popular-container .popular-list .arrow:hover i {
  -webkit-transform: scale(1.4, 2.2);
          transform: scale(1.4, 2.2);
}

.popular-container .popular-list:hover {
  cursor: pointer;
}

.popular-container .popular-list:hover i {
  display: initial;
}

.popular-container .popular-list:hover .arrow {
  background: rgba(10, 10, 10, 0.85);
}

.trending-area {
  width: 100%;
}

.trending-area h2 {
  color: white;
  margin-top: 60px;
  margin-right: 60px;
  margin-bottom: -60px;
  margin-left: 60px;
}

.trending-area .trending-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding-top: 68px;
  padding-bottom: 68px;
}

.trending-area .trending-list .trending-list-item {
  width: 262px;
  height: 137px;
  margin: 0 2px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  z-index: 1;
}

.trending-area .trending-list .trending-list-item img {
  width: 100%;
  height: 100%;
}

.trending-area .trending-list .trending-list-item:hover {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  height: 274px;
  -webkit-transform: translateY(-68px);
          transform: translateY(-68px);
  margin-bottom: -120px;
  z-index: 10;
}

.trending-area .trending-list .trending-list-item:hover .hover-content {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
  opacity: 1;
}

.trending-area .trending-list .arrow {
  width: 50px;
  height: 137px;
  background: rgba(51, 51, 51, 0.6);
  color: white;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.trending-area .trending-list .arrow i {
  display: none;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  -webkit-transform: scale(1.2, 1.8);
          transform: scale(1.2, 1.8);
}

.trending-area .trending-list .arrow:hover i {
  -webkit-transform: scale(1.4, 2.2);
          transform: scale(1.4, 2.2);
}

.trending-area .trending-list:hover {
  cursor: pointer;
}

.trending-area .trending-list:hover i {
  display: initial;
}

.trending-area .trending-list:hover .arrow {
  background: rgba(10, 10, 10, 0.85);
}

.featured-show-area-wrapper {
  width: 100%;
  height: 600px;
  position: relative;
  background-size: cover;
  background: -webkit-gradient(linear, left bottom, left top, from(#141414), color-stop(50%, rgba(10, 10, 10, 0.75)), to(#141414)), url("assets/images/featured-bg.webp");
  background: linear-gradient(0deg, #141414 0%, rgba(10, 10, 10, 0.75) 50%, #141414 100%), url("assets/images/featured-bg.webp");
}

.featured-show-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 92%;
  height: 100%;
  margin: 0 auto;
}

.featured-video-container {
  width: 58%;
  height: 100%;
  z-index: 1;
}

.featured-video-container video {
  width: 100%;
  height: 100%;
}

.featured-show-details-container {
  width: 32%;
  position: relative;
}

.featured-show-details {
  position: absolute;
  top: 120px;
  left: 60px;
}

.featured-show-details img {
  width: 400px;
  height: 150px;
}

.watch-para {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.banner-buttons-area {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.banner-buttons-area span {
  padding: 15px 40px;
  margin-left: 8px;
  display: inline-block;
  background-color: rgba(51, 51, 51, 0.4);
  border-radius: 3px;
}

.banner-buttons-area span:hover {
  cursor: pointer;
  color: black;
  background-color: white;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.banner-buttons-area span:first-child:hover {
  -webkit-transition: -webkit-transform 0.1s linear 0.2s;
  transition: -webkit-transform 0.1s linear 0.2s;
  transition: transform 0.1s linear 0.2s;
  transition: transform 0.1s linear 0.2s, -webkit-transform 0.1s linear 0.2s;
}

.banner-buttons-area span i {
  margin-right: 10px;
}

.featured-details {
  width: 400px;
  color: white;
  line-height: 30px;
  font-size: 20px;
}

.originals-area {
  width: 100%;
  margin-top: 20px;
}

.originals-area h2 {
  color: white;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: -60px;
  margin-left: 60px;
}

.originals-area .originals-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding-top: 68px;
  padding-bottom: 68px;
}

.originals-area .originals-list .originals-list-item {
  width: 262px;
  height: 630px;
  margin: 0 2px;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  position: relative;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  z-index: 1;
}

.originals-area .originals-list .originals-list-item img {
  width: 100%;
  height: 100%;
}

.originals-area .originals-list .originals-list-item:hover {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  height: 700px;
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
  margin-bottom: -120px;
  z-index: 10;
}

.originals-area .originals-list .originals-list-item:hover .hover-content {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
  opacity: 1;
}

.originals-area .originals-list .originals-list-item .hover-content {
  bottom: 20px;
}

.originals-area .originals-list .arrow {
  width: 50px;
  height: 630px;
  background: rgba(51, 51, 51, 0.6);
  color: white;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.originals-area .originals-list .arrow i {
  display: none;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  -webkit-transform: scale(1.2, 1.8);
          transform: scale(1.2, 1.8);
}

.originals-area .originals-list .arrow:hover i {
  -webkit-transform: scale(1.4, 2.2);
          transform: scale(1.4, 2.2);
}

.originals-area .originals-list:hover {
  cursor: pointer;
}

.originals-area .originals-list:hover i {
  display: initial;
}

.originals-area .originals-list:hover .arrow {
  background: rgba(10, 10, 10, 0.85);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 80px;
  color: grey;
}

footer .socials {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 275px;
  margin-bottom: 5px;
}

footer .socials * {
  font-size: 30px;
  margin: 0 10px;
}

footer .cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .cols * {
  font-size: 13.5px;
  margin: 8px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .cols .service-code {
  margin-top: 20px;
  display: inline-block;
  border: 1px solid grey;
  text-align: center;
  padding: 6px;
}

footer .cols .service-code:hover {
  cursor: pointer;
  color: white;
  border-color: white;
}

footer .years {
  font-size: 11px;
  color: grey;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 285px;
  margin-bottom: 20px;
}

.hover-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 120px;
  left: 10px;
  color: white;
  width: 100%;
  -webkit-transition: 0.01s linear 0s;
  transition: 0.01s linear 0s;
  opacity: 0;
}

.hover-content * {
  margin: 2px 0;
}

.hover-content .play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 19px;
  color: red;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #e5e5e5;
  background-color: rgba(51, 51, 51, 0.6);
  -webkit-transition: linear 0.2s;
  transition: linear 0.2s;
}

.hover-content .play:hover {
  width: 43px;
  height: 43px;
  font-size: 21px;
}

.hover-content .circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 17px;
  color: white;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid grey;
  background-color: rgba(51, 51, 51, 0.6);
  -webkit-transition: linear 0.2s;
  transition: linear 0.2s;
}

.hover-content .circle:hover {
  width: 38px;
  height: 38px;
  font-size: 18px;
  color: white;
}

.hover-content .show-name {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.hover-content .match {
  color: #46d369;
}

.hover-content .age-restriction {
  display: inline-block;
  border: 1px solid white;
  text-align: center;
  padding: 3px 5px;
}

.hover-content .fa-circle {
  font-size: 7px;
}

.hover-content .fa-chevron-down {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transform: scale(3.5, 1.5);
          transform: scale(3.5, 1.5);
}

.hover-content .show-icons {
  position: absolute;
  top: -50px;
  right: 30px;
}
/*# sourceMappingURL=main.css.map */